
Vitis/cnnNetwork/_ide/bitstream/cnn3.bit

Vitis/cnnNetwork/_ide/hwspec.checksum

Vitis/cnnNetwork/_ide/launch/Debugger_cnnNetwork-Default.launch

Vitis/cnnNetwork/_ide/psinit/ps7_init.tcl

Vitis/cnnNetwork/.cproject

Vitis/cnnNetwork/.project

Vitis/cnnNetwork/cnnNetwork.prj

Vitis/cnnNetwork/Debug/cnnNetwork_Debug.build.ui.log

Vitis/cnnNetwork/Debug/cnnNetwork.elf

Vitis/cnnNetwork/Debug/cnnNetwork.elf.size

Vitis/cnnNetwork/Debug/makefile

Vitis/cnnNetwork/Debug/objects.mk

Vitis/cnnNetwork/Debug/sources.mk

Vitis/cnnNetwork/Debug/src/echo.d

Vitis/cnnNetwork/Debug/src/echo.o

Vitis/cnnNetwork/Debug/src/i2c_access.d

Vitis/cnnNetwork/Debug/src/i2c_access.o

Vitis/cnnNetwork/Debug/src/iic_phyreset.d

Vitis/cnnNetwork/Debug/src/iic_phyreset.o

Vitis/cnnNetwork/Debug/src/main.d

Vitis/cnnNetwork/Debug/src/main.o

Vitis/cnnNetwork/Debug/src/platform_mb.d

Vitis/cnnNetwork/Debug/src/platform_mb.o

Vitis/cnnNetwork/Debug/src/platform_ppc.d

Vitis/cnnNetwork/Debug/src/platform_ppc.o

Vitis/cnnNetwork/Debug/src/platform_zynq.d

Vitis/cnnNetwork/Debug/src/platform_zynq.o

Vitis/cnnNetwork/Debug/src/platform_zynqmp.d

Vitis/cnnNetwork/Debug/src/platform_zynqmp.o

Vitis/cnnNetwork/Debug/src/platform.d

Vitis/cnnNetwork/Debug/src/platform.o

Vitis/cnnNetwork/Debug/src/sfp.d

Vitis/cnnNetwork/Debug/src/sfp.o

Vitis/cnnNetwork/Debug/src/si5324.d

Vitis/cnnNetwork/Debug/src/si5324.o

Vitis/cnnNetwork/Debug/src/subdir.mk

Vitis/cnnNetwork/Debug/src/weights.d

Vitis/cnnNetwork/Debug/src/weights.o

Vitis/cnnNetwork/Debug/Xilinx.spec

Python/mnistSmall/venv/*

Python/mnistSmall/data/*

Python/mnistSmall/weights/*

Python/mnistSmall/network/__pycache__/*


Python/mnistSmall/network/ps_mathieu.py

Python/mnistSmall/.idea/modules.xml

Python/mnistSmall/.idea/*

